body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

td button:hover {
    background-color: #45a049;
}

.buttonAdd {
    text-decoration: none;
    color: #fff;
    background-color: #4caf50;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buttonAdd:hover {
    background-color: #45a049;
}

.filter-container {
    margin-bottom: 20px;
}

.filter-container select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.filter-container input[type="submit"] {
    padding: 8px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.filter-container input[type="submit"]:hover {
    background-color: #4caf50;
}