<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User and Blog Details</title>
    <link rel="stylesheet" th:href="@{/BlogViewCSS/allBlogs.css}">
</head>
<body>
    <header>
        <div th:replace="fragments/newNav :: newBar"></div>
    </header>
    <h1>User and Blog Details</h1>
    <table>
        <thead>
            <tr>
                <th>User ID</th>
                <th>User Name</th>
                <th>User Email</th>
                <th>Blogs</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td colspan="5">
                    <table>
                        <thead>
                            <tr>
                                <th>Blog ID</th>
                                <th>Blog Title</th>
                                <th>Blog Content</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="blog : ${user.blogs}">
                                <td th:text="${blog.blogId}"></td>
                                <td th:text="${blog.blogTitle}"></td>
                                <td th:utext="${blog.blogContent}"></td>
                                <td th:text="${blog.status}"></td>
                                <td>
                                    <form th:action="@{/blogs/changeStatus}" method="post">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                        <input type="hidden" name="blogId" th:value="${blog.blogId}" />
                                        <input type="hidden" name="status" value="Approved" />
                                        <button type="submit">Approve</button>
                                    </form>
                                    <form th:action="@{/blogs/changeStatus}" method="post">
                                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                                        <input type="hidden" name="blogId" th:value="${blog.blogId}" />
                                        <input type="hidden" name="status" value="Rejected" />
                                        <button type="submit">Reject</button>
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<script th:src="@{/LoadingAnimation/loading.js}"></script>
