/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/background-2.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
header{
  padding-bottom: 50px;
}
.heading {
  text-align: center;
}

.heading_1 {
  padding-top: 20px;
  font-weight: 1000;
  font-family: "Roboto";
  font-size: 42px; /* Adjust font size as needed */
  color: rgb(84, 82, 82); /* Default color */
}

.heading_2 {
  padding-top: 20px;
  font-family: "Roboto";
  font-size: 36px; /* Adjust font size as needed */
  color: rgb(84, 82, 82); /* Default color */
}
.heading_3{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-family: "Roboto";
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* Gradient for "dietary preferences" */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.row {
  max-width: 3000px;
  margin: auto;
  padding: 50px;
}
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center the recipe cards */
}

.column-3 {
  width: 350px; /* Adjust the width and margins to fit three cards in a row */
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box; /* Ensure padding and borders are included in the width calculation */
}


.recipe-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(58, 53, 53, 0.411);
  border-radius: 8px;
}

.recipe-image img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recipe-top {
  padding: 15px;
}

.recipe-top h1 {
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-bottom3 {
  padding: 15px;
}

.recipe-info {
  margin-bottom: 10px;
}

.recipe-info span {
  font-weight: bold;
}

.button3 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button3:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#favicons{
  font-size: 40px;
 display: block;
 cursor: pointer;
}
.icondiv{
  display: flex;
  justify-content: end;
  margin-right: 140px;
}
.icon {
  font-size: 24px; 
  color: black;
}

.icon.clicked {
  color: red;
}

/* modal */
/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content */
.modal-content {
 margin-left: auto;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 25%; 
  border-radius: 5px;/* Could be more or less, depending on screen size */
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}




/* styling for weeklist */
.calendar{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.week{
 
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .calendar a.clicked{
  border: 1px solid black;
} */
.week.clicked {
  border: 2px solid black; 
  border-radius: 30px;/* Change the border style as needed */
}

p{
  margin-top: 10px;
  text-align: center;
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 5ch;
  line-height: 55px;
}

.week:hover{
  color: #fe5722;
  border-color: #fe5722;
}

