/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('/background-2.gif');
}
header{
  padding-bottom: 50px;
}
.heading {
  text-align: center;
}

.heading_1 {
  padding-top: 20px;
  font-weight: 1000;
  font-family: "Roboto";
  font-size: 42px; /* Adjust font size as needed */
  color: rgb(84, 82, 82); /* Default color */
}

.heading_2 {
  padding-top: 20px;
  font-family: "Roboto";
  font-size: 36px; /* Adjust font size as needed */
  color: rgb(84, 82, 82); /* Default color */
}
.heading_3{
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-family: "Roboto";
  background: linear-gradient(to right, #ff5f6d, #ffc371); /* Gradient for "dietary preferences" */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.row {
  max-width: 3000px;
  margin: auto;
  padding: 50px;
}
.page-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  text-align: center; /* Center the recipe cards */
}

.column-3 {
  width: 350px; /* Adjust the width and margins to fit three cards in a row */
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  box-sizing: border-box; /* Ensure padding and borders are included in the width calculation */
}


.recipe-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(58, 53, 53, 0.411);
  border-radius: 8px;
}

.recipe-image img {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.recipe-top {
  padding: 15px;
}

.recipe-top h1 {
  font-size: 18px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recipe-bottom3 {
  padding: 15px;
}

.recipe-info {
  margin-bottom: 10px;
}

.recipe-info span {
  font-weight: bold;
}

.button3 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.button3:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* styling for weeklist */
.calendar{
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.week{
  background-color: #e53935;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
h2{
  text-align: center;
}
