body {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #455056;
    background-color: #ffffff;
    font-weight: 300;
    overflow: hidden;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.error-page-w {
    text-align: center;
}

.error-page-w img {
    max-width: 400px;
    height: auto;
    margin-bottom: -5rem;
}

.error-page-w h1 {
    font-size: 2rem;
    margin: 0;
    color: #dc3545;
}

.error-page-w h2 {
    font-size: 2rem;
    margin: 0;
    color: #343a40;
}

.error-page-w p {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
}
