body {
  margin: 0;
  padding: 0;
  background-image: url("/background.gif");
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.text-container {
  text-align: center;
}

.gradient-text {
  background-image: linear-gradient(to right, #ff5f6d, #ffc371);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.gradient-subtext {
  color: #000000;
}

.button3-dietify {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #ff5f6d, #ffc371);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
  }
  
  .button3-dietify:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

@media (min-width: 768px) {
  .text-container {
    max-width: 500px;
    margin: auto;
  }
}
