@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Orbitron:700);
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

a {
    text-decoration: none;
}

body {
    overflow-x: hidden;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    font-weight: 400;
}


.nav-bar {
    position: fixed;
    z-index: 100;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 6%;
    background-color: #e53935;
    /* opacity: 0.5; */
}

.nav-bar.scrolled {
    height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-logo {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    font-family: "Montserrat";
    font-size: 24px;
    letter-spacing: 0px;
    color: rgb(255, 255, 255);
    transition: 0.4s ease;
    cursor: pointer;
}

.nav-links-container {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}

.nav-link {
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
    padding: 0 12px;
    transition: 0.4s ease;
}

.nav-link.active,
.nav-link:hover {
    color: rgb(0, 0, 0);
}
