/* Global Layout Set-up */
<<<<<<< HEAD
* { 
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
  }
  /* Link Styles */
  
  a {
    text-decoration: none;
    color: #999;
  }
  a:hover {
    color: #6633ff;
  }
  
  /* Section Styles */
  
  .main-nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    position: fixed;
    text-align: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  
  .nav .name {
      display: block;
      margin-right: auto;
      color: white;
  }
  .nav li {
    padding: 5px 10px 10px 10px;
  }
  .nav a {
    transition: all .5s;
  }
  .nav a:hover {
    color: white
  }
  
  header {
    text-align: center;
    background: url('https://placeimg.com/1000/989/arch') no-repeat top center ;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
  }
  header {
    line-height: 1.5;
  }
  header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    transition: all .5s;
  }
  header .profile-image:hover {
    transform: scale(1.2) rotate(5deg);
  }
  .tag {
    background-color: #efefef;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
  } 
  .location {
    background-color: #222;
    color: yellow;
  }
  .card {
    margin: 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
  }
  .card:hover {
    border-color: #ff99ff;
  }
  
  ul.skills {
    padding: 0;
    text-align: center;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #ff9904;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }
  
  .skills li:nth-child(odd) {
    background: #0399ff;
  }
  
  footer {
    width: 100%;
    min-height: 30px;
    padding: 20px 0 40px 20px;
  }
  
  footer .copyright {
    top: -8px;
    font-size: .75em;
  }
  
  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  
  .clearfix {
    clear: both;
  }
  
  /* Styles for larger screens */
  @media screen and (min-width: 720px) {
    
    .flex {
        display: -ms-flexbox;      /* TWEENER - IE 10 */
        display: flex; 
        max-width: 1200px;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0 auto;
    }
  
    header {
      min-height: 470px;
    }
  
    .nav {
      max-width: 1200px;
      padding: 0 30px;
    }
  
  
    main {
      padding-top: 20px;
    }
  
    main p {
      line-height: 1.6em;
    }
  
    footer {
      font-size: 1.3em;
      max-width: 1200px;
      margin: 40px auto;
    }
  
  }
  
=======
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

/* Link Styles */
a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */
header {
  text-align: center;
  background: url('https://placeimg.com/1000/989/arch') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

main {
  display: flex;
  flex-wrap: wrap;
  /* Enable wrapping for smaller screens */
  justify-content: space-around;
  padding: 20px 50px;
}

.card {
  flex: 1;
  /* Each card takes equal width */
  margin: 10px;
  /* Adjust margin for spacing */
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #ff99ff;
}

.card h2 {
  text-align: center;
}

/* @media queries for responsiveness */
@media screen and (max-width: 768px) {
  header .profile-image {
    width: 100px;
    /* Adjust profile image size for smaller screens */
    height: 100px;
  }

  main {
    flex-direction: column;
    /* Stack cards vertically on smaller screens */
    align-items: center;
    /* Center cards on smaller screens */
  }

  .card {
    flex: 0 1 100%;
    /* Fix card width and limit to 80% of the screen width */
    min-width: 300px;
    /* Limit card width for smaller screens */
    margin: 10px auto;
    /* Center cards on smaller screens */
  }
}
>>>>>>> d00462cefe5a5d38c8a524e5068260efdc782fbc
