* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: white;
}

.Welcome{
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #6633ff;
}


.userName{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}


.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 50px;
}

.card {
  flex: 1;
  margin: 10px;
  padding: 20px 40px 40px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #ff99ff;
}

.card h2 {
  text-align: center;
}
@media screen and (max-width: 768px) {
 

  main {
    flex-direction: column;
    align-items: center;
  }

  .card {
    flex: 0 1 100%;
    min-width: 300px;
    margin: 10px auto;
  }
}
