body {
    font-family: Arial, sans-serif;
    background-image: url('/background-2.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
  }
  h3{
    display: inline;
  }
  h4{
    margin-left: 100px;
  }
  .firsth3{
    margin-right: 250px;
  }
  .recipeimg{
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    height: 100%;
    max-width: 100%;
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.3);
}
.parentdiv{
    display: flex;
    margin-top: 80px;
}
.tablediv{
    margin: 0 0 0 200px;
}
table{
    height: 100%;
}
.instructions{
    margin-top: 70px;
}
