<div th:fragment="newBar">
   <link rel="stylesheet" th:href="@{/newNav.css}">
    <div class="nav-bar">
        <div class="nav-logo">DIETIFY</div>
        <div class="nav-links-container">
            <a class="nav-link" href="#topSection" id="topLink">Home</a>
            <a class="nav-link" href="#aboutSection" id="aboutLink">About Us</a>
            <a class="nav-link" href="#servicesSection" id="servicesLink">Survey</a>
            <a class="nav-link" href="#contactSection" id="contactLink">Profile</a>
        </div>
    </div>
</div>
