<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/day-list.css}">

</head>
<body>
  <header>
    <div th:replace="fragments/newNav :: newBar"></div>
  </header>
        <div class="heading">
          <h1 class="heading_1"> Here is delicious recipes  </h1>
          <h1 class="heading_2">suggestion based on your </h1>
          <h1 class="heading_3">dietary preferences Calories:<span th:text="${calories}"></span>  Diet:<span th:text="${Diet}"></span></h1>
          
        </div>
        <div class="page-container">
          <div class="row">
            <div class="column-3" th:each="meal : ${dayResponse.meals}">
              <div class="recipe-card">
                <div class="recipe-image">
                  <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
                </div>
                <div class="recipe-top">
                  <h1 th:text="${meal.title}"></h1>
                </div>
                <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe/details}" class="button3">VIEW RECIPE 🍳</a>
                </div>
                
              </div>
            </div>
          </div>
        <form th:action="@{/mongodb/store}" method="post">
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
          <button type="submit">Save Day Response</button>
      </form>
        </div>
</body>
</html>