<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" th:href="@{/errorPage.css}"></head>
<body>
    <div id="content" class="pmd-content errorpage error-blank-page d-flex justify-content-center align-items-center">
        <div class="text-center error-page-w">
            <img src="http://themes.propeller.in/bootstrap4/html/e-health-care-admin-theme/assets/images/error-404.svg" alt="404" class="mb-4 img-fluid">
            <h1 th:text="${status}">404</h1>
            <h2 th:text="${error}">Page Not Found</h2>
            <p class="mb-4" th:text="${message}">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
        </div>
    </div>    
</body>
</html>