<!DOCTYPE html>
<html lang="en" xmlns="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dietify</title>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous"> -->
    <link rel="stylesheet" th:href="@{/home.css}">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <div th:replace="fragments/newNav :: newBar"></div>
      </header>
    <div class="main">
        <div class="container text-container">
            <h1 class="gradient-text">Your personalized nutrition companion.</h1>
            <p class="gradient-subtext">Personalized recipes for your plate, based on what you have and love to taste!</p>
            <form th:action="@{/formpage}">
                <button type="submit" class="button3-dietify">Get Started →</button>
            </form>
        </div>
    </div>
</body>
</html>
