<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/profile.css}">
    <link href="https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900" rel="stylesheet">
</head>

<body>
    <header>
        <div th:replace="~{fragments/newNav :: newBar}"></div>
    </header>
    <div class="Welcome">
        <p>Welcome <span th:text="${name}"></span></p>
    </div>
    <main class="flex">

        <div class="card">
            <h2>Day Plan</h2>
            <ul>
                <li th:each="dayfav : ${dayfavs}">
                    <div>
                    <form id="dayPlanForm" th:action="@{/savedDayPlan}" method="post">
                        <input type="hidden" id="favouriteId" name="favouriteId" th:value="*{dayfav.favouriteId}">
                        <a href="#" onclick="submitDayForm(); return false;" th:text="${dayfav.title}"></a>
                    </form>
                    
                    </div>
                </li>
            </ul>
        </div>

        <div class="card">
            <h2>Week Plan</h2>
            <ul>
                <li th:each="weekfav : ${weekfavs}">
                    <div>
                    <span th:text="${weekfav.favouriteId}"></span> -->
                    <form id="weekPlanForm" th:action="@{/savedWeekPlan}" method="post">
                        <input type="hidden" id="favouriteId" name="favouriteId" th:value="*{weekfav.favouriteId}">
                        <a href="#" onclick="submitWeekForm(); return false;" th:text="${weekfav.title}"></a>
                    </form>
                    </div>
                
                </li>
            </ul>
        </div>

    </main>
    <script>
        function submitDayForm() {
            document.getElementById('dayPlanForm').submit();
        }
    </script>
    <script>
        function submitWeekForm() {
            document.getElementById('weekPlanForm').submit();
        }
    </script>
    

</body>

</html>