<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">

<head>
    <meta charset="utf-8">
    <title>User Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/profile.css}">
</head>

<body>
    <header>
        <div th:replace="~{fragments/newNav :: newBar}"></div>
    </header>
    <div>
        <p>Welcome <span th:text="${user}"></span></p>
    </div>
    <main class="flex">

        <div class="card">
            <h2>Day Plan</h2>
        </div>

        <div class="card">
            <h2>Week Plan</h2>
        </div>

    </main>

</body>

</html>