<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/day-list.css}" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,200"
    />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>
    <header>
      <div th:replace="fragments/newNav :: newBar"></div>
    </header>
    <p class="heading-week">Meals for the week</p>
    <div class="calendar">
      <a class="week clicked" onclick="showDays('week1')">Monday</a>
      <a class="week" onclick="showDays('week2')">Tuesday</a>
      <a class="week" onclick="showDays('week3')">Wednesday</a>
      <a class="week" onclick="showDays('week4')">Thursday</a>
      <a class="week" onclick="showDays('week5')">Friday</a>
      <a class="week" onclick="showDays('week6')">Saturday</a>
      <a class="week" onclick="showDays('week7')">Sunday</a>
    </div>
    <div class="icondiv">
      <span class="icon" onclick="toggleColor(this)"
        ><i class="fas fa-heart"></i
      ></span>
    </div>
    <div class="modal" id="myModal">
      <div class="modal-content">
        <span class="close" onclick="toggleModal()">&times;</span>
        <p>Please provide a title for your diet plan</p>
        <input type="text" id="titleInput" placeholder="Enter title..." />
        <button onclick="saveDietPlan()" class="savebtn">Save</button>
      </div>
    </div>

    <div id="week1" class="days">
      
        <div class="row">
          <div
            class="column-3"
            th:each="meal : ${weekresponse.week.monday.meals}"
          >
            <div class="recipe-card">
              <div class="recipe-image">
                <img th:src="${meal.sourceUrl}" th:alt="${meal.title}" />
              </div>
              <div class="recipe-top">
                <h1 th:text="${meal.title}"></h1>
              </div>
              <div class="recipe-bottom3">
                <div class="recipe-info">
                  Servings: <span th:text="${meal.servings}"></span>
                </div>
                <div class="recipe-info">
                  Total Time: <span th:text="${meal.readyInMinutes}"></span>
                </div>
                <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.monday})"
      ></div>
    </div>
    <div id="week2" class="days" style="display: none">
            <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.tuesday})"
      ></div>
    </div>
    <div id="week3" class="days" style="display: none">
      
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.wednesday})"
      ></div>
    </div>

    <div id="week4" class="days" style="display: none">
      
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.thursday})"
      ></div>
    </div>
    <div id="week5" class="days" style="display: none">
      
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.friday})"
      ></div>
    </div>
    <div id="week6" class="days" style="display: none">
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.saturday})"
      ></div>
    </div>
    <div id="week7" class="days" style="display: none">
      <div
        class="container"
        th:replace="fragments/dayResponseFragment :: dayResponseFragmentContent(Response=${weekresponse.week.sunday})"
      ></div>
    </div>
    <form th:action="@{/mongodb/store-week}" method="post" id="saveForm">
      <input
        type="hidden"
        name="${_csrf.parameterName}"
        value="${_csrf.token}"
      />
      <button type="button" onclick="showPopup()">Save Week Response</button>
      <div id="popup" style="display: none">
        <input type="text" id="userText" name="userText" />
        <button type="submit">Save</button>
      </div>
    </form>
    <script>
      function showDays(weekId) {
        var weeks = document.getElementsByClassName("days");
        for (var i = 0; i < weeks.length; i++) {
          if (weeks[i].id === weekId) {
            weeks[i].style.display = "block";
          } else {
            weeks[i].style.display = "none";
          }
        }
      }

      
      document.querySelectorAll(".week").forEach((week) => {
        week.addEventListener("click", function (event) {
          // Remove the "clicked" class from all weeks
          document
            .querySelectorAll(".week")
            .forEach((w) => w.classList.remove("clicked"));
          // Add the "clicked" class to the clicked week
          this.classList.add("clicked");
        });
      });

      function toggleColor(element) {
        var currentColor = window.getComputedStyle(
          element.querySelector("i")
        ).color;
        var newColor = currentColor === "rgb(255, 0, 0)" ? "black" : "red"; // Toggle between red and black

        element.querySelector("i").style.color = newColor;
        toggleModal();
      }

      function toggleModal() {
        var modal = document.getElementById("myModal");
        modal.style.display =
          modal.style.display === "block" ? "none" : "block";
      }
      function saveDietPlan() {
        var title = document.getElementById("titleInput").value;
        alert("Diet plan saved with title: " + title);
        toggleModal(); // Close the modal after saving
      }

      // Get the modal
      var modal = document.getElementById("myModal");

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function (event) {
        if (event.target == modal) {
          toggleModal();
        }
      };

      // When the user presses the Escape key, close the modal
      document.onkeydown = function (event) {
        event = event || window.event;
        if (event.keyCode == 27) {
          toggleModal();
        }
      }
    </script>
  </body>
</html>
