<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/day-list.css}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
  <header>
    <div th:replace="fragments/newNav :: newBar"></div>
  </header>
  <p>Meals of the week</p>
  <div class="calendar">
    <a class="week clicked" onclick="showDays('week1')">Monday</a>
    <a class="week" onclick="showDays('week2')">Tuesday</a>
    <a class="week" onclick="showDays('week3')">Wednesday</a>
    <a class="week" onclick="showDays('week4')">Thursday</a>
    <a class="week" onclick="showDays('week5')">Friday</a>
    <a class="week" onclick="showDays('week6')">Saturday</a>
    <a class="week" onclick="showDays('week7')">Sunday</a>
  </div>


  <div id="week1" class="days">

    
    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.monday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="week2" class="days" style="display: none;">
    

    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.tuesday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="week3" class="days" style="display: none;">
    

    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.wednesday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div id="week4" class="days" style="display: none;">

    
    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.thursday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="week5" class="days" style="display: none;">
    
    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.friday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="week6" class="days" style="display: none;">
    
    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.saturday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
                  <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
                  <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
                  <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
                </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="week7" class="days" style="display: none;">
    
    <div class="page-container">
      <div class="row">
        <div class="column-3" th:each="meal : ${weekresponse.week.sunday.meals}">
          <div class="recipe-card">
            <div class="recipe-image">
              <img th:src="${meal.sourceUrl}" th:alt="${meal.title}">
            </div>
            <div class="recipe-top">
              <h1 th:text="${meal.title}"></h1>
            </div>
            <div class="recipe-bottom3">
              <div class="recipe-info">Servings: <span th:text="${meal.servings}"></span></div>
              <div class="recipe-info">Total Time: <span th:text="${meal.readyInMinutes}"></span></div>
              <a th:href="@{/recipe}" class="button3">VIEW RECIPE 🍳</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <form th:action="@{/mongodb/store-week}" method="post" id="saveForm">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <button type="button" onclick="showPopup()">Save Week Response</button>
    <div id="popup" style="display: none;">
      <input type="text" id="userText" name="userText">
      <button type="submit">Save</button>
    </div>

  </form>
  <script>
    function showDays(weekId) {
      var weeks = document.getElementsByClassName('days');
      for (var i = 0; i < weeks.length; i++) {
        if (weeks[i].id === weekId) {
          weeks[i].style.display = 'block';
        } else {
          weeks[i].style.display = 'none';
        }
      }
    }

//     document.querySelectorAll(".week").forEach(link => {
//   link.addEventListener("click", function(event) {
//     this.classList.add("clicked");
//     event.preventDefault(); // Prevent the default behavior of the link
//   });
// });

document.querySelectorAll(".week").forEach(week => {
  week.addEventListener("click", function(event) {
    // Remove the "clicked" class from all weeks
    document.querySelectorAll(".week").forEach(w => w.classList.remove("clicked"));
    // Add the "clicked" class to the clicked week
    this.classList.add("clicked");
    // Call your function to show the corresponding content
    // showDays(this.getAttribute("data-week"));
  });
});



    function showPopup() {
      $('#popup').show();
    }
  </script>
</body>

</html>