<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Meals</th>
                <th>Calories</th>
                <th>Protein</th>
                <th>Fat</th>
                <th>Carbohydrates</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="day : ${days}">
                <td th:text="${day.name}"></td> <!-- Adjust this according to your Day object -->
                <td>
                    <ul>
                        <li th:each="meal : ${day.meals}" th:text="${meal.title}"></li> <!-- Adjust this according to your Meal object -->
                    </ul>
                </td>
                <td th:text="${day.nutrients.calories}"></td> <!-- Adjust this according to your Nutrients object -->
                <td th:text="${day.nutrients.protein}"></td>
                <td th:text="${day.nutrients.fat}"></td>
                <td th:text="${day.nutrients.carbohydrates}"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>