<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIN</title>
    <link rel="stylesheet" th:href="@{/Authentication/signUp.css}">
    <script th:src="@{/LoadingAnimation/loading.js}"></script>
</head>
<body>
    <div class='signin-page'>
        <div class='container'>
          <section class='company-logo'>
            <div class='logo-container'>
              <img th:src="@{/Images/logo.png}" alt='logo'>
            <h3>DIETIFY <span>Your personal diet partner</span></h3>
            </div>
          </section>
          <section class='signin-section'>
            <h2>Sign Up</h2>
            <div class='signin-card'>
                <div class='errorClass'>
                  <p th:if="${session.msg}" class="text-center text-success fs-4" th:text="${session.msg}"></p>
                </div>
                <form th:action="saveUser" method="post" onsubmit="return validateForm()">
                  <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                  <label>Name</label>
                  <input type="text" name="name" required />
                  <label>Email</label>
                  <input type="email" name="email" th:value="${email}" readonly required />
                  <input type="hidden" name="resetToken" th:value="${token}" />
                  <div class="password-container">
                      <label>Password</label>
                      <input type="password" id="password" name="password" required />
                  </div>
                  <div class="password-container">
                      <label>Confirm Password</label>
                      <input type="password" id="confirmPassword" name="confirmPassword" required />
                  </div>
                  <button type="submit">Sign Up</button>
              </form>
              <div class='signin-card-footer'>
                <h5>Registered already ? <a th:href="@{/signIn}">sign-In</a></h5>
            </div>
            </div>
          </section>
        </div>
        <div class='left-shape'></div>
        <div class='right-shape'></div>
      </div>
</body>
</html>
<script>
  function validateForm() {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (password !== confirmPassword) {
          alert("Passwords do not match");
          return false;
      }

      return true;
  }
</script>