<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignIN</title>
    <link rel="stylesheet" th:href="@{/Authentication/signIn.css}" />
  </head>
  <body>
    <div class="signin-page">
      <div class="container">
        <section class="company-logo">
          <div class="logo-container">
            <img th:src="@{/Images/logo.png}" alt="logo" />
            <h3>DIETIFY <span>Your personal diet partner</span></h3>
          </div>
        </section>
        <section class="signin-section">
          <h2>Verify email</h2>
          <div class="signin-card">
            <div class="errorClass">
              <!-- Display session message if present -->
              <span th:text="${session.message}"></span>
            </div>
            <form id="verify-form" th:action="@{/verify}" method="post">
              <input
                type="hidden"
                name="${_csrf.parameterName}"
                value="${_csrf.token}"
              />
              <label>Email</label>
              <input type="email" name="email" required />
              <button type="submit">Send verification Link</button>
            </form>
            <div class="signin-card-footer">
              <h5>Already an user? <a th:href="@{/signIn}">Sign in</a></h5>
            </div>
          </div>
        </section>
      </div>
      <div class="left-shape"></div>
      <div class="right-shape"></div>
    </div>
  </body>
</html>
<script th:src="@{/LoadingAnimation/loading.js}"></script>
